
<form action = "/birthday" method="POST">
	<label for="name">Enter your name</label>
	<input id="name" type="text" name="name"><br>
	<label for="birthday">Enter your birthday (MM/DD/YYYY)</label>
	<input id="birthday" type="text" name="birth_date"><br>
	<input type="submit" value="Submit">
</form>